@import '../../imports.css';

.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

.Textarea {
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem;
  min-height: 10rem;
  resize: none;
  border-radius: 3px;
  margin-bottom: .5rem;
  border: none;
  box-shadow: rgba(80, 82, 88, 0.4) 0 1px 5px;
  flex-grow: 1;
}

.Tips {
  font-size: .8rem;
  margin-bottom: 1.5rem;
  color: #73797d;
}

.Actions {
  width: 15rem;
  display: flex;

  @media (--mobile-medium) {
    width: 100%;

    & > * {
      flex-basis: 50%;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}

.PreviewAction {
  display: none;

  @media (--mobile-medium) {
    display: block;
  }
}
