@import 'app/UI/imports.css';

.Wrapper {
  display: flex;
  overflow: hidden;
  height: var(--size-body);
}

.Main,
.PreviewWrapper {
  display: flex;
  flex-basis: 50%;
  overflow: hidden;

  @media (--mobile-medium) {
    flex-basis: 100%
  }
}

.Main {
  background: var(--color-background);
  border-right: 1px solid #cbd5dc;
}

.Wrapper-showPreview .Main {
  @media (--mobile-medium) {
    margin-left: -100%;
  }
}

.PreviewWrapper {
  @media (--mobile-medium) {
    margin-right: -100%;

    @nest .Wrapper-showPreview & {
      margin-right: 0;
    }
  }
}

.PreviewWrapper {
  background: var(--color-background-secondary);
  position: relative;
}

.PreviewScroll {
  /* Fix Safari's bug, see: https://stackoverflow.com/a/19121022 */
  position: absolute;
  overflow-y: scroll;
  height: var(--size-body);
  width: 100%;
}

.Preview {
  min-height: var(--size-body);

  /* The rest below replicates <V size='large' /> */
  display: flex;
  flex-direction: column;
  padding: 2rem;

  @media (--mobile-large) {
    padding: 1rem;
  }

  & > *:not(:last-child) {
    margin-bottom: 2rem;

    @media (--mobile-large) {
      margin-bottom: 1rem;
    }
  }
}

.ThreadWrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PreviewDisclaimer {
  font-size: .8rem;
  text-align: center;
  color: #73797d;
  line-height: 1.3;
}

.PreviewClose {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  fill: #064475;

  @media (--mobile-medium) {
    display: block;
  }

  @media (--mobile-small) {
    top: .5rem;
    right: .5rem;
  }
}
