{
  "presets": [
    ["env", {
      "useBuiltIns": true,
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions", "not IE > 0"]
      }
    }],
    "stage-3",
    "react"
  ],
  "plugins": [
    "lodash",
    ["transform-react-jsx", { "pragma": "h" }]
  ]
}
