/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom styles starts here */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
}

body,
textarea {
  font-family: system, -apple-system, BlinkMacSystemFont;
}

.Wrapper {
  display: flex;
}

.Main,
.Preview {
  flex-basis: 50%;
}

.Main {
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FCFDFF;
  border-right: 1px solid #cbd5dc;
}

.Logo {
  color: #064475;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.Logo:after {
  content: 'lite';
  text-transform: uppercase;
  color: #fff;
  font-size: .8rem;
  background: #15C785;
  padding: .1rem .2rem;
  position: relative;
  top: -1rem;
  border-radius: 3px;
  margin-bottom: 1rem;
  font-weight: 300;
}

.Headline {
  color: #064475;
  font-size: 1.5rem;
}

.Header {
  margin-bottom: 3rem;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

.Textarea {
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem;
  min-height: 10rem;
  resize: none;
  border-radius: 3px;
  margin-bottom: 2rem;
  border: none;
  box-shadow: rgba(80, 82, 88, 0.4) 0 1px 5px;
  flex-grow: 1;
}

.Button {
  border: none;
  background: #0070C9;
  padding: .5rem 4rem;
  color: white;
  font-size: 1.2rem;
  border-radius: 3px;
  box-shadow: #063c67 0 3px 0;
}

.Stats {
  margin-top: 1rem;
  color: #73797d;
}

.Header {
  text-align: center;
}

.Preview {
  background: #e6ecf0;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Thread {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 3px;
  max-width: 30rem;
}

.Tweet {
  padding: 1rem;
  display: flex;
  position: relative;
}

.TweetAvatarWrapper {
  width: 3rem;
  margin-right: 1rem;
  flex-shrink: 0;
}

.TweetAvatarWrapper:before,
.TweetAvatarWrapper:after {
  position: absolute;
  content: '';
  width: 3px;
  background: #FDC7B1;
  left: calc(2.5rem - 2px);
}

.TweetAvatarWrapper:before {
  top: 0;
  height: 1rem;
}

.TweetAvatarWrapper:after {
  top: 4rem;
  bottom: 0;
}

.Tweet:first-child .TweetAvatarWrapper:before {
  display: none;
}

.Tweet:last-child .TweetAvatarWrapper:after {
  display: none;
}

.TweetAvatar {
  width: 100%;
  border-radius: 50%;
}

.TweetContent {
  display: flex;
  flex-direction: column;
}

.TweetName {
  font-weight: bold;
  margin-bottom: .25rem;
}

.TweetUsername {
  color: #73797d;
  font-size: .9rem;
  margin-bottom: .5rem;
}

.TweetText {
  line-height: 1.3;
}
