.Link {
  color: #0a5088;
  display: inline-flex;
  align-items: center;
}

.Link:hover {
  color: #0070c9;
}

.Link-disabled {
  pointer-events: none;
  text-decoration: none;
  color: gray;
}

.LinkIcon {
  margin-right: .25rem;
}
