@import '../imports.css';

.Wrapper {
  display: flex;
  overflow: hidden;
  height: var(--size-body);
  background: #e6ecf0;
  justify-content: center;
  position: relative;
}

.Scroll {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
}

.SpinnerWrapper {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Widget,
.Scheduled {
  max-width: 30rem;
  width: 100%;
}

.Widget twitterwidget {
  margin: 0 !important;
}

.Scheduled {
  border-radius: 3px;
  background: var(--color-light);
  border: 1px solid #cbd5dc;
  max-width: 30rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.BannersWrapper > *:not(:first-child) {
  display: none;
}
