@import 'app/UI/imports.css';

.Wrapper {
  background: var(--color-main-background);
  color: var(--color-light);
  height: var(--size-top-bar);
  display: flex;
}

.Link {
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--color-light);
}

.Link-current {
  border-bottom: 5px solid var(--color-main);
}

.Link-current {
  padding-top: 5px;
}

.ScheduledCounter {
  background: linear-gradient(#088cb3, #03a285);
  padding: .15rem .25rem;
  border-radius: 3px;
  font-size: .9rem;
}

.MenuButton {
  user-select: none;
  cursor: pointer;
}

.Menu {
  position: absolute;
  background: #425e73;
  width: 100%;
  top: 2.5rem;
  z-index: 1;
  left: 0;
  display: flex;
  flex-direction: column;
}

.MenuItem {
  cursor: pointer;
  padding: 1rem;
  text-align: center;
  color: white;
  text-decoration: none;

  &:not(:last-child) {
    border-bottom: 1px solid #607484;
  }
}
