@import 'reset.css';
@import './imports.css';

html {
  box-sizing: border-box;

  @media (--laptop) {
    font-size: 16px;
  }

  @media (--mobile-large) {
    font-size: 15px;
  }

  @media (--mobile-medium) {
    font-size: 14px;
  }

  @media (--mobile-small) {
    font-size: 13px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}

body,
textarea {
  font-family: system, -apple-system, BlinkMacSystemFont;
}
