@import 'reset.css';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
}

body,
textarea {
  font-family: system, -apple-system, BlinkMacSystemFont;
}

.Layout {
  display: flex;
}

.Main,
.Preview {
  flex-basis: 50%;
}

.Main {
  padding: 1rem 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FCFDFF;
  border-right: 1px solid #cbd5dc;
}

.Preview {
  background: #e6ecf0;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Logotype {
  color: #064475;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LogoWrapper {
  width: 2rem;
  margin-left: .5rem;
  position: relative;
  top: .2rem;
}

.LogoWrapper svg {
  width: 100%;
  height: auto;
}

.Headline {
  color: #4a667b;
  font-size: 1.2rem;
  max-width: 20rem;
  line-height: 1.3;
}

.Header {
  margin-bottom: 1rem;
  text-align: center;
}

.Stats {
  margin-top: 1rem;
  color: #73797d;
}
