@import 'reset.css';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}

body,
textarea {
  font-family: system, -apple-system, BlinkMacSystemFont;
}
