@import 'reset.css';
@import './imports.css';

html {
  box-sizing: border-box;
  height: 100%;

  @media (--mobile-small) {
    font-size: 13px;
  }

  @media (--mobile-medium) {
    font-size: 14px;
  }

  @media (--mobile-large) {
    font-size: 15px;
  }

  @media (--laptop) {
    font-size: 16px;
  }

  @media (--wide) {
    font-size: 2vh;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;
}

body,
textarea {
  font-family: system-ui;
}

.Layout {
  height: 100%;
}
