<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Chirr App - Tweet storm made easy</title>
    <meta name='description' content='Chirr App splits your text into tweet-sized chunks and posts it as a Twitter thread, so you don’t have to. '>
    <meta name='keywords' content='Twitter, tweetstorm, tweet storm, thread, app' />

    <!-- Social meta tags -->

    <!-- Twitter -->
    <meta name='twitter:card' content='summary_large_image'>
    <meta name="twitter:site" content='@chirrapp'>
    <meta name='twitter:creator' content='@kossnocorp'>
    <meta name='twitter:title' content='Chirr App - Twitter threads made easy'>
    <meta name='twitter:description' content='Chirr App splits text into tweets and posts it as a thread'>
    <meta name='twitter:image' content='https://getchirrapp.com/card.png'>

    <!-- Facebook -->
    <meta property='og:type' content='website'>
    <meta property='og:title' content='Chirr App - Twitter threads made easy'>
    <meta property='og:description' content='Chirr App splits text into tweets and posts it as a thread'>
    <meta property='og:image' content='https://getchirrapp.com/card.png'>
    <meta property='og:image:width' content='1200'>
    <meta property='og:image:height' content='660'>

    <!-- Favicons -->
    <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png'>
    <link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png'>
    <link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png'>
    <link rel='manifest' href='/manifest.json'>
    <link rel='mask-icon' href='/safari-pinned-tab.svg' color='#55acee'>
    <meta name='theme-color' content='#ffffff'>
  </head>
  <body>
    <% if (env === 'production') { %>
      <script src="https://cdn.ravenjs.com/3.17.0/raven.min.js" crossorigin="anonymous"></script>
      <script>Raven.config('https://39146f99e35440a5b4f1d37e0bbacc20@sentry.io/199072').install()</script>
    <% } %>
    <script src='<%= entryPath('app') %>'></script>
    <% if (env === 'production') { %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-103698265-1', 'auto');
        ga('send', 'pageview');
      </script>
    <% } %>
    <!-- (ง'̀-'́)ง -->
  </body>
</html>
