@import 'app/UI/imports.css';

.Wrapper {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
}

.Flash {
  color: white;
  width: 20rem;
  border-radius: 3px;

  @media (--mobile-small) {
    width: 100%;
  }
}

.FlashIcon {
  position: relative;
  top: 1px;
  cursor: pointer;
}

/* color: main (default) */

.Flash {
  background: var(--color-main-background);
}

/* color: negative */

.Flash-color-negative {
  background: var(--color-negative-background);
}

/* color: positive */

.Flash-color-positive {
  background: var(--color-positive-background);
}
