@import '../imports.css';

.Wrapper {
  display: flex;
  overflow: hidden;
  height: var(--size-body);
  background: #e6ecf0;
  justify-content: center;
}

.Widget {
  max-width: 30rem;
  width: 100%;
}

.Widget twitterwidget {
  margin: 0 !important;
}
