@import 'app/UI/imports.css';

.Wrapper {
  color: var(--color-light);
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.Wrapper-hideTextAt-mobileSmall .Text {
  @media (--mobile-small) {
    display: none;
  }
}

.Wrapper-hideTextAt-mobileMedium .Text {
  @media (--mobile-medium) {
    display: none;
  }
}

.Wrapper-link {
  cursor: pointer;
}

.ImageWrapper {
  width: 1.5rem;
  position: relative;
  top: 2px;
}

.ImageWrapper svg {
  width: 100%;
  height: 100%;
}

/* color: white (default) */

.ImageWrapper svg {
  color: var(--color-light);
}
