@import '../../imports.css';

.Textarea {
  -webkit-appearance: none;
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem;
  min-height: 10rem;
  resize: none;
  border-radius: 3px;
  border: 1px solid #cbd5dc;
  flex-grow: 1;

  @media (--mobile-large) {
    font-size: 1.4rem;
  }

  @media (--mobile-medium) {
    font-size: 1.3rem;
  }

  @media (--mobile-small) {
    font-size: 1.2rem;
  }
}

.Textarea-errored {
  border-color: #b10808;
}

.Tips {
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
  color: #73797d;
}

.Actions {
  width: 15rem;
  display: flex;

  @media (--mobile-medium) {
    width: 100%;

    & > * {
      flex-basis: 50%;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}

.PreviewAction {
  display: none;

  @media (--mobile-medium) {
    display: block;
  }
}

.Stats {
  color: #4a667b;
}
