.Button {
  user-select: none;
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  top: -3px;
  line-height: 1;
}

.Button:active {
  box-shadow: none;
  top: 0;
}

.Button-fullWidth {
  width: 100%;
}

.Button:disabled {
  background: #a2a2a2;
  color: #dadada;
  box-shadow: none;
  top: 0;
}

/* color: blue (default) */

.Button,
.Button-color-blue {
  background: #0070C9;
  box-shadow: #063c67 0 3px 0;
}

/* color: green */

.Button-color-green {
  background: green;
  box-shadow: black 0 3px 0;
}

/* size: medium (default) */

.Button,
.Button-size-medium {
  padding: .5rem 4rem;
  font-size: 1.2rem;
  height: 3rem;
}

/* size: small */

.Button-size-small {
  padding: 0 1.5rem;
  font-size: 1rem;
  height: 2rem;
  line-height: 2;
}
