@import 'app/UI/imports.css';

.Button {
  user-select: none;
  border: none;
  color: var(--color-light);
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  top: -3px;
  margin-top: 3px;
  line-height: 2rem;
  text-align: center;
}

.Button-flat {
  box-shadow: none !important;
  top: 0;
  margin-top: 0;
}

.Button:active {
  box-shadow: none;
  top: 0;
}

.Button-fullWidth {
  width: 100%;
}

.Button:disabled {
  background: #a2a2a2;
  color: #dadada;
  box-shadow: none;
  top: 0;
}

/* color: blue (default) */

.Button,
.Button-color-blue {
  background: var(--color-main);
  box-shadow: var(--color-main-background) 0 3px 0;
}

/* color: positive */

.Button-color-positive {
  background: var(--color-positive);
  box-shadow: black 0 3px 0;
}

/* color: pro */

.Button-color-pro {
  background: linear-gradient(#088cb3, #03a285);
  box-shadow: black 0 3px 0;
}

/* color: twitter */

.Button-color-twitter {
  background: #1da1f2;
  box-shadow: #084f7b 0 3px 0;
}

/* size: medium (default) */

.Button,
.Button-size-medium {
  padding: .5rem 2rem;
  font-size: 1.2rem;
  height: 3rem;
}

/* size: small */

.Button-size-small {
  padding: 0 1rem;
  font-size: 1rem;
  height: 1.6rem;
  line-height: 1.6rem;
}
