@import 'app/UI/imports.css';

.H,
.V {
  display: flex;
}

.V {
  flex-direction: column;
}

/* aligned */

.H-aligned {
  justify-content: center;
}

.V-aligned {
  align-items: center;
}

/* adjusted */

.H-adjusted {
  align-items: center;
}

.V-adjusted {
  justify-content: center;
}

/* size: medium (default) */

.H > *:not(:last-child) {
  margin-right: 1rem;
}

.V > *:not(:last-child) {
  margin-bottom: 1rem;
}

/* padded */
.H.H-padded,
.V.V-padded,
.El.El-padded {
  padding: 1rem;
}

/* paddedV */
.H.H-paddedV,
.V.V-paddedV,
.El.El-paddedV {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* paddedH */
.H.H-paddedH,
.V.V-paddedH,
.El.El-paddedH {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* size: small */

.H-size-small > *:not(:last-child) {
  margin-right: .5rem;
}

.V-size-small > *:not(:last-child) {
  margin-bottom: .5rem;
}

/* padded */
.H-size-small.H-padded,
.V-size-small.V-padded,
.El-size-small.El-padded {
  padding: .5rem;
}

/* paddedV */
.H-size-small.H-paddedV,
.V-size-small.V-paddedV,
.El-size-small.El-paddedV {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

/* paddedH */
.H-size-small.H-paddedH,
.V-size-small.V-paddedH,
.El-size-small.El-paddedH {
  padding-left: .5rem;
  padding-right: .5rem;
}

/* size: large */

.H-size-large > *:not(:last-child) {
  margin-right: 2rem;

  @media (--mobile-large) {
    margin-right: 1rem;
  }
}

.V-size-large > *:not(:last-child) {
  margin-bottom: 2rem;

  @media (--mobile-large) {
    margin-bottom: 1rem;
  }
}

/* padded */
.H-size-large.H-padded,
.V-size-large.V-padded,
.El-size-large.El-padded {
  padding: 2rem;

  @media (--mobile-large) {
    padding: 1rem;
  }
}

/* paddedV */
.H-size-large.H-paddedV,
.V-size-large.V-paddedV,
.El-size-large.El-paddedV {
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media (--mobile-large) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

/* paddedH */
.H-size-large.H-paddedH,
.V-size-large.V-paddedH,
.El-size-large.El-paddedH {
  padding-left: 2rem;
  padding-right: 2rem;

  @media (--mobile-large) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
/* grow */

.H-grow,
.V-grow,
.El-grow {
  flex-grow: 1;
}

/* expanded */

.H-expanded,
.El-expanded {
  justify-content: space-between;
}

/* fullWidth */

.V-fullWidth,
.H-fullWidth,
.El-fullWidth {
  width: 100%;
}
