@import 'app/UI/imports.css';

.Text {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3;

  & a {
    color: #0a5088;
    display: inline-flex;
    align-items: center;

    &:hover {
      color: #0070c9;
    }
  }
}

/* size: small */

.Text-size-small {
  font-size: .9rem;
}

/* .Header */

.Header {
  line-height: 1.2;
  font-size: 1.6rem;
  font-weight: 500;
}

.Header-size-small {
  font-size: 1.1rem;
}

.Header-size-large {
  font-size: 2.2rem;
}
